.host {
  // height: 100vh;
  // overflow-x: hidden;
  margin: 0 2rem;
}

.myrow {
    display: flex;
    flex-wrap: wrap;
}

mat-card, button {
  width: 10rem;
  margin: 10px !important;
  height: 7rem;
  transform: scale(1);
  transition: transform .3s ease-in-out, box-shadow .6s ease-in-out;
  &:hover {
    transform: scale(1.1);
    box-shadow: 1px 20px 10px -15px grey;
  }
}


button {
  width: 13rem;
}
