<div class="dialog">
  <h1 mat-dialog-title>
    <mat-toolbar role="toolbar" class="task-header">
      <span>{{title}}</span>
    </mat-toolbar>
    <mat-divider></mat-divider>
  </h1>
  <div class="content">
    <div mat-dialog-content>

      <form [formGroup]="myForm">
        <mat-form-field appearance="fill">
          <mat-label>اسم</mat-label>
          <input matInput formControlName="label" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>محور</mat-label>
          <mat-select formControlName="idAxe">
            <mat-option *ngFor="let axe of axes | async" [value]="axe.id">{{ axe.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>


    </div>

    <div class="actions" mat-dialog-actions>
      <button mat-button (click)="onNoClick()" type="button">إلغاء</button>&nbsp;&nbsp;
      <button mat-raised-button cdkFocusInitial color="primary" (click)="onOkClick(myForm.value)"
        [disabled]="myForm.invalid">تسجيل</button>
    </div>
  </div>
</div>
