<div class="dialog">
  <h1 mat-dialog-title>
      <mat-toolbar role="toolbar" class="task-header">
        <span>حذف {{model}} </span>
      </mat-toolbar>
      <mat-divider></mat-divider>
    </h1>
  <div class="content">
    <div mat-dialog-content>
      <p>هل أنت متأكد أنك تريد الحذف؟</p>
    </div>

    <div class="actions" mat-dialog-actions>
      <button mat-button (click)="onNoClick()" type="button">إلغاء</button>
      <button mat-button [mat-dialog-close]="" color="primary" type="button" (click)="onOkClick()"
        cdkFocusInitial>موافق</button>
    </div>
  </div>
</div>
